.add-button{
    margin-top:50px;

  }
    /*Table */
    /* @import "compass/css3"; */
table {
 font-family: 'Arial';
 margin: 25px auto;
margin-top:50px;
margin-bottom:100px;
 border-collapse: collapse;
 border: 1px solid #eee;
 border-bottom: 2px solid #3e65a0;
 box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
}
table tr:hover {
 background: #d9d9d9;
}
table tr:hover td {
 color: #555;
}
table th, table td {
 color: #999;
 border: 1px solid #eee;
 padding: 12px 35px;
 border-collapse: collapse;
}
table th {
 background: #3e65a0;
 color: #fff;
 text-transform: uppercase;
 font-size: 12px;
}
table th.last {
 border-right: none;
}
.elsepart{
  justify-content: center;
  display: flex;
}



.start{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.loader{
  position: absolute;
  width: 60px;
  height: 60px;
  background: #21759b;
}
.loader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
}
.loader span:nth-child(1){
  transform: rotate(0deg);
}
.loader span:nth-child(2){
  transform: rotate(90deg);
}
.loader span:nth-child(3){
  transform: rotate(180deg);
}
.loader span:nth-child(4){
  transform: rotate(270deg);
}
.loader span:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  background: #fff;
  transform: scaleX(0);
  animation: animate 2s linear infinite;
}
.loader span:nth-child(1):before{
  animation-delay: 0s;
}
.loader span:nth-child(2):before{
  animation-delay: 0.5s;
}
.loader span:nth-child(3):before{
  animation-delay: 1s;
}
.loader span:nth-child(4):before{
  animation-delay: 1.5s;
}
@keyframes animate{
  0%{
      transform: scaleX(0);
      transform-origin: left;
  }
  25%{
      transform: scaleX(1);
      transform-origin: left;
  }
  25.000001%{
      transform-origin: right;
  }
  50%,100%{
      transform: scaleX(0);
      transform-origin: right;
  }
}



/*  Button */
button {
  background: #3e65a0;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
button:disabled{
  cursor: no-drop;
}
.addsub{
  margin-top: 20px;
  padding: 12px 0;
  border-radius: 25px;
}

.signup button:hover {
  background: #325181;
}
.add-button{
  margin-top:30px;
}
.danger{
  background-color: #f00;
}


/*modal*/
.modal-content{
  width:60%;
  height:100px;
}
.close{
  margin-top:20px;
  margin-right:20px;
  background: #fff;
  color: #000;
  font-size: 30px;
}
 /* FORM */
 button,
 input {
     border: none;
     outline: none;
 }
 
 /****************
 FORM
 *****************/
 .signup {
     background-color: white;
     width: 100%;
     max-width: 500px;
     padding: 50px 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-top:10px;
     margin-bottom: 30px;
     border-radius: 20px;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
 }
 
 h3 {
     text-align: center;
     color: #3e65a0;
 }
 h2 {
     text-align: center;
     font-size: 1.2rem;
     font-weight: lighter;
     margin-bottom: 40px;
 }
 
 h2 span {
     text-decoration: underline;
     cursor: pointer;
     color: #3e65a0;
 }
 
 /*  Field */
 .signup_field_outer{
     margin-bottom: 40px;
 }
 .signup__field {
     display: flex;
     flex-direction: column;
     width: 100%;
     position: relative;
 
 }
 .signup__radio{
     color:darkslategray;
     font-size:14px;
     margin-right:6px;
 }
 .signup__field:before {
     content: "";
     display: inline-block;
     position: absolute;
     width: 0px;
     height: 2px;
     background: #3e65a0;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     transition: all 0.4s ease;
 }
 
 .signup__field:hover:before {
     width: 100%;
 }
 
 /*  Input */
 .signup__input {
     width: 100%;
     height: 100%;
     font-size: 1.2rem;
     padding: 10px 2px 0;
     border-bottom: 2px solid #e0e0e0;
 }
 
 /*  Label */
 .signup__label {
     color: #bdbdbd;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 2px;
     font-size: 1.2rem;
     transition: all 0.3s ease;
 }
 
 .signup__input:focus + .signup__label,
 .signup__input:valid + .signup__label {
     top: 0;
     font-size: 1rem;
     background-color: white;
 }
