<div class="body">
<div class="body-heading"><br/><b>Reset Password</b></div>
<hr style="color:#bfbfbf; background-color:#d9d9d9">

<div *ngIf="!resetSuccessfull">
    <form class="signup">
        <div class="signup__field_outer ">
            <div class="signup__field">

    <input  class="signup__input" type="password" id="password" name="password" [(ngModel)]="pass" required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,}$" password #password="ngModel" />
    <label class="signup__label" for="password">Password</label>
</div>
    <div style="color: #f00;   font-size: 13px;" *ngIf="password.invalid && password.touched">
        <div style="background-color:#ffe6e6;" class="error" *ngIf="password.errors.required">
            Password is required.
        </div>
        <div *ngIf="password.errors.pattern">
            Password must contain atleast one lowercase letter, one uppercase letter, one digit, one special character and atlease 8 characters.
        </div>
    </div>
    <br/>
 
    </div>
    <div class="signup__field_outer ">
        <div class="signup__field">
            <input class="signup__input" type="password" id="confirm" name="confirm" required
            [(ngModel)]="confirmpass" confirm #confirm="ngModel" />
    <label class="signup__label" for="confirm">Confirm Password</label>
    </div>
   
    <div style="color: #f00; background-color:#ffe6e6; font-size: 13px;" *ngIf="confirm.touched">
        <div *ngIf="pass !== confirmpass">
            Not match with password.
        </div>
    </div>
    </div>
    <button (click)="onSubmit()" type="submit" id="submit" 
    [disabled]="!password.valid || (pass !== confirmpass) || filled">
        Submit
    </button>
    </form>
    <p id="msg" class="msg2"></p>
</div>
<div *ngIf="resetSuccessfull">
    <p class="msg1" id="msg">Your password has been updated Succesfully <i class="fa fa-thumbs-up iconstyle"></i>
  <br/>  <a  [routerLink]="['/']" >Login Page <i class="fas fa-arrow-right iconstyle"></i></a></p>
</div>
</div>