.body{
    background-color:#edf1f8;
    min-height: 500px;
 
 }
/*modal*/
.modal-content{
    width:60%;
    height:100px;
}
.close{
    margin-top:20px;
    margin-right:20px;
    background: #fff;
    color: #000;
    font-size: 30px;
}
  /* FORM */
button,
input {
    border: none;
    outline: none;
}

/****************
FORM
*****************/
.signup {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

h3 {
    text-align: center;
    color: #3e65a0;
}
h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;
}

h2 span {
    text-decoration: underline;
    cursor: pointer;
    color: #3e65a0;
}

/*  Field */
.signup__field_outer{
    margin-bottom: 40px;
}
.signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

}
.signup__radio{
    color:darkslategray;
    font-size:14px;
    margin-right:6px;
}
.signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: #3e65a0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.signup__field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
}

.danger{
    background-color: #f00;
}

/*top navbar*/


    

.navbar-inverse {
    background-color: #3e65a0;
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
    font-size: medium;

}
.navbar-inverse .navbar-nav>li>a:hover {
    color:darkkhaki;

}
/*  Button */
.btn-link{
    color:#595959;
 }
 .btn-link:hover{
     color: black;
 }
.modal button {
    background: #3e65a0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
button:disabled{
    cursor: no-drop;
}
.addsub{
    margin-top: 20px;
    padding: 12px 0;
    border-radius: 25px;
}

.signup button:hover {
    background: #325181;
}
.add-button{
    margin-top:30px;
}
    /*Table */
 /*Table */
  /* @import "compass/css3"; */
  table {
    font-family: 'Arial';
    margin: 25px auto;
    margin-top:50px;
    margin-bottom:100px;
    
    background-color: #ffffff;
    font-size:15px;
    
    
    }
    table tr{
    transition: all .2s ease-out ;
    
    }
    table tbody tr:hover{
       transform: scale(1.02);
  
    
       -webkit-box-shadow: 0 0 10px #808080;
       box-shadow: 0 0 10px #808080;
      
    }
    
    
    
     table td {
    color: #404040;
    border: none;
    padding: 12px 35px;
    
    }
    table th {
    background: #243a5c;
    color: #fff;
    font-size: 15px;
    border:none;
    padding: 12px 35px;
    
    }
.msg{
    color: rgb(60, 5, 148);
}
 


/*navbar*/ 
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: #eee;
}

/* Layout */

#container {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

#main {
    padding: 4% 1.5em;
    max-width: 55em;
    margin: 0 auto;
}

#header {
    padding: 1.5em;
    margin: 0 0 1em 0;
    background-color: #eee;
}

#footer {
    padding: 1.5em;
    margin: 2em 0 0 0;
    background-color: #eee;

}





