.body{
    background-color: #f2f2f2;
}
.modal-content{
    width:60%;
    height:100px;

}
.close{
    margin-top:20px;
    margin-right:20px;
    background: #fff;
    color: #000;
    font-size: 28px;
}
/* FORM */
button,
input {
    border: none;
    outline: none;
}

/****************
FORM
*****************/
.signup {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.subject_name {
    margin-top: 30px;
   display: flex;
    justify-content: center;
}
h5{
    font-size:20px;
    display: block;
    padding:15px;
    background-color:#2c476d;
    color:#ffffff;
    border-radius: 4px;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 40px;
}

h3{
    color:#3e65a0;
    text-align: center;
}
h2 span {
    text-decoration: underline;
    cursor: pointer;
    color: #3e65a0;
}

/*  Field */
.signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: #3e65a0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.signup__field:hover:before {
    width: 100%;
}

/*  Input */
.signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
}

/*  Label */
.signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.signup__input:focus + .signup__label,
.signup__input:valid + .signup__label {
    top: 0;
    font-size: 1rem;
    background-color: white;
}


/*  Button */
button {
    background: #3e65a0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.submit{
    padding: 12px 0;
    border-radius: 25px;
}

.signup button:hover {
    background: #325181;
}
.add-button{
    margin-top:30px;
}
/*CARD*/

.column {
    float: left;
    width: 25%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    color:#325181;
border-radius: 10px;
    padding: 16px;
    text-align: center;
    background-color:white;
    height:200px;

    margin-left: 40pt;
    margin-right: 40pt;
    margin-bottom: 20pt;
    margin-top: 20pt;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.iconstyle{
    color:#555555;
  font-size: 12px;

}

